
table{
    border-collapse: collapse;
    margin: auto;
}
#content, h1{
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}
#Nhap{
    background-color: rgb(3, 95, 3);
    color: white;
    display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 10px;
	margin: 10px auto;
    font-size: 20px;
}
th, td, tr{
    border: 2px solid ;
    padding: 10px 15px;
    font-size: 20px;
}
#btn{padding: 20px 0px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    
}
button{
    background-color: chocolate;
    color: white;
    font-size: 18px;
}
@media screen and (min-width:768px) and (max-width:991px) {
    #content, h1{
        font-size: 20px;
    }
button{
    font-size: 20px;
}
th, td, tr{
    padding: 10px 20px;
    font-size: 24px;
}
}
@media screen and (min-width:992px){
    th, td, tr{
        padding: 10px 25px;
        font-size: 24px;
    }
    button{
        font-size: 24px;
    }
}
